#work-container {
    color: white;

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        li {
            margin: 24px;
            position: relative;

            border-radius: 8px;
            width: 320px;
            background-color: $secondary;

            display: flex;
            flex-direction: column;

            box-shadow: $secondary 0px 0px 0px 2px inset, $white 10px -10px 0px -3px, $secondary 10px -10px;

            .top-employment {
                padding: 24px;
            }

            .bottom-employment {
                padding: 24px;
                background-color: $secondary;

                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;

                flex: 1;
            }
        }
    }
}