$primary: #98C1D9;
$secondary: #533A7B;
$secondaryLight: #6969B3;
$secondaryDark: #4B244A;
$dark: #25171A;

$white: white;
$black: black;

@import "./sections/intro/Intro.scss";
@import "./sections/work/Work.scss";
@import "./sections/projects/Projects.scss";
@import "./sections/research/Research.scss";
@import "./sections/skills/Skills.scss";
@import './sections/contact/Contact.scss';

body {
    background-color: $white;
    margin: 0;
}


h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'League Spartan', sans-serif;
}

p {
    font-family: 'Libre Baskerville', serif;
}
